---
import BaseLayout from "../layouts/BaseLayout.astro";

import Hero from "../components/Hero.astro";
import ContactCTA from "../components/ContactCTA.astro";
import HireMe from "../components/HireMe.astro";
import Testimonials from "../components/Testimonials.astro";
---

<BaseLayout>
  <div class="stack gap-20 lg:gap-48">
    <div class="wrapper stack gap-8 lg:gap-20">
      <header class="hero">
        <div class="stack gap-8">
          <div
            class="prose mt-10 flex flex-col items-center space-y-5 md:mt-32 md:space-y-7 md:px-5 lg:mt-32">
            <Hero title="Hi, I'm Arjun">
              <p
                class="tracking-[0.4px] font-medium my-0 text-gray-500 leading-6">
                I create{" "}
                <span class="font-semibold text-black">
                  polished, profitable and performant
                </span>{" "}
                 websites that{" "}
                <span class="font-semibold text-black">deliver robust ROI</span>
                 for{" "}
                <span class="font-semibold">
                  busines owners, startups, and ambitious individuals
                </span>{" "}
                 seeking to{" "}
                <span class="font-semibold text-black"
                  >boost their online presence.</span
                >
              </p>
            </Hero>
          </div>
          <HireMe />
        </div>

        <!-- TODO: Get a Professional looking picture clicked -->
      </header>
    </div>

    <main class="wrapper stack gap-20 lg:gap-48">
      <!-- TODO: Add Services here -->
      <!-- TODO: Add Testimoniials here -->
      <Testimonials />
      <!-- <Skills /> -->
      <!-- <Experience /> -->
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  mark {
    background-color: rgba(var(--link-color), 0.5);
    color: var(--gray-0);
  }
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .roles {
    display: none;
  }

  .hero img {
    aspect-ratio: 5 / 4;
    object-fit: cover;
    object-position: top;
    border-radius: 1.5rem;
  }

  @media (max-width: 50em) {
    .roles {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      justify-content: center;
    }
  }

  @media (min-width: 50em) {
    .hero {
      display: grid;
      grid-template-columns: 6fr 4fr;
      padding-inline: 2.5rem;
      gap: 3.75rem;
    }

    .roles {
      margin-top: 0.5rem;
      display: flex;
      gap: 0.5rem;
    }

    .hero img {
      aspect-ratio: 3 / 4;
      border-radius: 4.5rem;
      object-fit: cover;
    }
  }

  /* ====================================================== */

  .section {
    display: grid;
    gap: 2rem;
  }

  .with-background {
    position: relative;
  }

  .with-background::before {
    --hero-bg: var(--bg-image-subtle-2);

    content: "";
    position: absolute;
    pointer-events: none;
    left: 50%;
    width: 100vw;
    aspect-ratio: calc(2.25 / var(--bg-scale));
    top: 0;
    transform: translateY(-75%) translateX(-50%);
    background:
      url("/assets/backgrounds/noise.png") top center/220px repeat,
      var(--hero-bg) center center / var(--bg-gradient-size) no-repeat,
      var(--gray-999);
    background-blend-mode: overlay, normal, normal, normal;
    mix-blend-mode: var(--bg-blend-mode);
    z-index: -1;
  }

  .with-background.bg-variant::before {
    --hero-bg: var(--bg-image-subtle-1);
  }

  .section-header {
    justify-self: center;
    text-align: center;
    max-width: 50ch;
    font-size: var(--text-md);
    color: var(--gray-300);
  }

  .section-header h3 {
    font-size: var(--text-2xl);
  }

  @media (min-width: 50em) {
    .section {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas: "header header header header" "gallery gallery gallery gallery";
      gap: 5rem;
    }

    .section.with-cta {
      grid-template-areas: "header header header cta" "gallery gallery gallery gallery";
    }

    .section-header {
      grid-area: header;
      font-size: var(--text-lg);
    }

    .section-header h3 {
      font-size: var(--text-4xl);
    }

    .with-cta .section-header {
      justify-self: flex-start;
      text-align: left;
    }

    .gallery {
      grid-area: gallery;
    }

    .cta {
      grid-area: cta;
    }
  }

  /* ====================================================== */
</style>
