---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<h1 class="py-0 my-0 text-black text-left w-full">{title}</h1>
<p class="tracking-[0.4px] font-medium my-0 text-gray-500 leading-6">
  <slot />
</p>
