---
import CallToAction from "./CallToAction.astro";
import Icon from "./Icon.astro";
---

<CallToAction href="http://workwithme.arjunsingh.tech/">
  <div class="flex gap-2 items-center justify-center text-lg font-bold">
    Hire Me
    <Icon icon="arrow-up-right" />
  </div>
</CallToAction>
