<div class="not-prose">
  <div
    class="no-tailwind senja-embed"
    data-id="d9db2d2b-aa8f-4de8-a1d3-a8f607825231"
    data-lazyload="false">
  </div>
  <script
    async
    type="text/javascript"
    src="https://static.senja.io/dist/platform.js"></script>
</div>
