<div class="not-prose">
  <div
    class="no-tailwind senja-embed"
    data-id="d9db2d2b-aa8f-4de8-a1d3-a8f607825231"
    data-lazyload="false">
  </div>
  <script
    async
    type="text/javascript"
    src="https://static.senja.io/dist/platform.js"
  >
    // Find the div element with class "senja-embed"
    const senjaEmbed = document.querySelector(".senja-embed");
    console.log(senjaEmbed);
    console.log("senjaEmbed");

    if (senjaEmbed) {
      // Find the next sibling div element
      const nextDiv = senjaEmbed.nextElementSibling;
      console.log(senjaEmbed);
      if (nextDiv) {
        // Remove the next sibling div element
        nextDiv.remove();
      }
    }
  </script>
</div>
